@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Passion+One:wght@400;700&display=swap');

@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/btn-blue.css");
@import url("components/text-center.css");
@import url("components/title-blue.css");


body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0px;
  background-color: rgba(200,200,200,0.1);
}
h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}



@media (max-width: 1400px) {
	.container {
		width: 1000px;
	}
}
@media (max-width: 1000px) {
	.container {
		width: 750px;
	}
}
@media (max-width: 800px) {
	.container {
		width: 300px;
	}
	.card {
		font-size: 25px;
		margin: 40px auto;
	}
	.card img {
		width: 80px;
	}
}