.banner {
  background-image: url(../../images/background.jpg);   
	background-size: cover;     
	background-position: center;
  margin-bottom: 40px;
  padding: 500px 0 100px 0;
}

.banner h1 {
  font-family: 'Passion One', cursive;
  font-weight: 400;
  color: white;
  font-size: 100px;
  margin: 0px;
}

.banner h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 30px;
  opacity: 0.8;
  margin-bottom: 40px;
}

.banner h2:hover {
  opacity: 1;
}
